:root {
    --cinza-principal: #3A404E; 
    --vermelho-escuro: #8E2424; 
    --cinza-secundario: #667085;
    --branco-botao: white;
    --fonte-principal: "Inter"  

}

body {
    background: white;
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 16px;

}

* {
    margin:0.5em 1.8em;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    justify-items: baseline;
}

.links {
    display: flex;
    list-style: none;
    justify-content: center;
    color: var(--cinza-secundario);
    
}
.cabecalho__link a {
    text-decoration: none;
    color: var(--cinza-secundario);
}

.container__imagem {
    text-align: center;
    align-items: center;
    height: 3%;
    justify-items: center;
}

.container__botao {
    background-color: var(--branco-botao);
    border-radius: 5px;
    padding: 0.8em;
    color: var(--cinza-principal);
    display: flexbox;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 15px;
    width: 15%;
    cursor: pointer;

}

.botao__secundario {
    background-color: var(--vermelho-escuro);
    color: var(--branco-botao);
    width: 35%;
    cursor: pointer;
}

.container__cabecalho {
    text-align: center;
    padding: 5em;
}

.cabecalho__subtitulo {
    color: var(--vermelho-escuro);
    font-weight: 500;
    margin-bottom: 2em;
}

.cabecalho__titulo {
    font-size: 48px;
    color: black;
    font-weight: 600;
    margin-bottom: 1em;
}

.cabecalho__texto {
    font-size: 20px;
    text-align: center;
    margin: 0 17em;
    color: var(--cinza-secundario);
    font-weight: 300;
}

.flexbox__container {
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
}


.flex__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-escuro);
    margin-bottom: 0;
    
 
}
.flex__subtitulo {
    font-size: 18px;
    font-weight: 400;
    color: black;   
}

.flex__texto {
    font-size: 16px;
    color: var(--cinza-secundario);
    font-weight: 300;
}

